<div class= "columns is-centered">
  <div class="column  home">
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <div class="title ">
          <h1>Registro de Socios</h1>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">No Documento</label>
          <div class="control">
            <input class="input" type="text" placeholder="No Documento">
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Primer Nombre</label>
          <div class="control">
            <input class="input" type="text" placeholder="Primer Nombre ">
          </div>
        </div>
      </div>
    </div>
    <!-- segunda columna-->
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Segundo Nombre</label>
          <div class="control">
            <input class="input" type="text" placeholder="Segundo Nombre">
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Primer Apellido</label>
          <div class="control">
            <input class="input" type="text" placeholder="Primer Apellido">
          </div>
        </div>
      </div>
    </div>
    <!-- tercera segunda-->
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Segundo Apellido</label>
          <div class="control">
            <input class="input" type="text" placeholder="Segundo Apellido">
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Genero</label>
          <div class="control">
            <input class="input" type="text" placeholder="Genero">
          </div>
        </div>
      </div>
    </div>
    <!-- tercera segunda-->
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Fecha Nacimiento</label>
          <div class="control">
            <input class="input" type="text" placeholder="Fecha Nacimiento">
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Cuidad</label>
          <div class="control">
            <input class="input" type="text" placeholder="Cuidad">
          </div>
        </div>
      </div>
    </div>
    <!-- tercera segunda-->
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Categoria</label>
          <div class="control">
            <input class="input" type="text" placeholder="Categoria">
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Millas</label>
          <div class="control">
            <input class="input" type="text" placeholder="Millas">
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
