<div class="columns is-centered">
  <div class="column is-6">
    <div class="columns is-centered home">
      <div class="column ">
        <div class="title">
          <h2> Reserva de vuelos</h2>
        </div>
      </div>
    </div>
    <div class="columns is-centered homew">
      <div class="column   is-one-third">
        <div class="field">
          <label class="label">Origen</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="No Documento">
          </div>
        </div>
      </div>
      <div class="column   is-one-third">
        <div class="field">
          <label class="label"> Destino</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="Destino">
          </div>
        </div>
      </div>
      <div class="column   is-one-third">
        <mat-form-field class="date">
          <mat-label>Fecha Ida</mat-label>
          <input matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="column  is-one-third">
        <mat-form-field class="date">
          <mat-label>Fecha vuelta</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div>

    </div>
  </div>
</div>
